* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font: normal 15px/20px Georgia, "Times New Roman", Times, serif;
    background: #659a01;
    color: #fff;
    padding: 15px 0;
}
#content {
    width: 1180px;
    margin: 0 auto;
    background: #666701;
    padding: 50px 60px 60px 60px;
}
#content h1,
#content h2 {
    color: #ffcb0e;
    margin-bottom: 60px;
}
#content h2 {
    margin: 60px 0 30px 0;
}
#content p {
    padding-bottom: 30px;
}
#content p:last-child {
    padding-bottom: 0;
}
#content .img-left {
    border: 2px solid #fff;
    margin: 0 40px 35px 0;
    float: left;
}
#content .brief {
    font-style: italic;
    background: #677d01;
    padding: 50px 40px 40px 40px;
    margin-bottom: 40px;
}
#content .img-right {
    float: right;
    border: 2px solid #fff;
    margin-bottom: 40px;
}
#content a[href="culture.html"] {
    display: inline-block;
    margin-bottom: 10px;
}
#content a[href="culture.html"]:hover {
    color: #daab00;
}
#content table {
    border-spacing: 0;
    color: #fff;
}
#content table caption {
    text-align: right;
    font-style: italic;
    font-weight: bold;
    margin-bottom: 30px;
}
#content table th {
    text-align: left;
    padding: 30px 40px;
    background: #94a34e;
    font-weight: normal;
}
#content table td {
    padding: 30px 40px;
    border-bottom: 2px solid #b4c082;
}
#content table td a:hover {
    color: #daab00;
}
#content .img-left {
    padding: 20px;
}
#content .img-right {
    padding: 20px;
    margin-left: 40px;
}
#content a[href="culture.html"] {
    color: #ffcb0e;
}
#content table td {
    background: #677d01;
}
#content table td a {
    color: #ffcb0e;
}