$bodyFont: normal 12px/18px Arial, Helvetica, sans-serif;
$bodyBackground: #ddbc9b;
$contentBackground: #fff;
$textColor: #000;
$titleColor: #8b3d00;
$borderWidth: 4px;
$borderColor: $titleColor;
$briefBackground: #fadcba;
$tableTitleBg: #e0e0e0;
$tableBorder: #cccccc;