$bodyFont: normal 15px/20px Georgia, "Times New Roman", Times, serif;
$bodyBackground: #659a01;
$contentBackground: #666701;
$textColor: #fff;
$titleColor: #ffcb0e;
$borderWidth: 2px;
$borderColor: #fff;
$briefBackground: #677d01;
$tableTitleBg: #94a34e;
$tableBorder: #b4c082;